.card_container {
    width: 300px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 8px 8px 10px 0px rgba(85, 84, 84, 0.75);
    margin-left: 20px;
    background: #ffffff7a;
    padding: 10px;
  }
  
  .card_items {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .card_logo {
    display: flex;
    flex-direction: column-reverse;
  }
  .btn_delete {
    position: absolute;
  }
  .btn_delete i {
    top: -12px;
    left: 280px;
    background: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    position: relative;
  }
  button {
    background-color: #cb1111d1;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 2px;
  }
  h2 {
    color: #3b3641;
  }