.container{
    display: flex;
   max-width:1024px;
   justify-content: space-between;
   height:750px;
   margin-left:auto;
   margin-right:auto;
   margin-top: 50px;
   background-color: #c7c9cc29;
    border-radius: 10px;
}
.content_items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 80%; */
    margin: 20px;
    height:95%;
}
.img{
    max-width: 380px;
    margin-top: 50px;
    height: 60%;
    margin-left: 10px;
}
.title{
    color: white;
    font-size:40px;
}
.input_search{
    cursor: pointer;
    font-size: 20px;
    box-shadow: 3px 4px 8px #0864B11A;
    border: 5px solid #FFFFFF;
}
label{
    color: white;
}
.form_group{
    display:flex;
    flex-direction: column;
    margin:5px;
    
}
.form_radio{
    display:flex;
    flex-wrap: wrap;
    margin: 4px;
    padding: 4px;
    width: 450px;
}
/* .content_items{
    background-color: #c7c9cc29;
    border-radius: 10px;

} */
.btn_create{
    height: 30px;
    background-color: #0ea5e6;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}